# Data Wrangling

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../../datasets/customer-churn-model/Customer Churn Model.txt')

# Crear un subconjunto de datos

In [6]:
account_length = df['Account Length']

In [10]:
# Esto ya es de tipo 'Series'
type(account_length)

pandas.core.series.Series

In [12]:
subset = df[['Account Length', 'Phone', 'Day Calls']]

In [13]:
subset.head()

   Account Length     Phone  Day Calls
0             128  382-4657        110
1             107  371-7191        123
2             137  358-1921        114
3              84  375-9999         71
4              75  330-6626        113

In [16]:
type(subset) # Este s√≠ es un dataframe

pandas.core.frame.DataFrame

In [18]:
# Podemos crear una lista de los datos 
desired_colums = ["Account Length", "Phone", "Eve Charge", "Night Calls"]
subset2 = df[desired_colums]

In [19]:
subset2.tail()

      Account Length     Phone  Eve Charge  Night Calls
3328             192  414-4276       18.32           83
3329              68  370-3271       13.04          123
3330              28  328-8230       24.55           91
3331             184  364-6381       13.57          137
3332              74  400-4344       22.60           77