# Data Wrangling

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../datasets/customer-churn-model/Customer Churn Model.txt')

# Crear un subconjunto de datos

In [3]:
account_length = df['Account Length']

In [4]:
# Esto ya es de tipo 'Series'
type(account_length)

pandas.core.series.Series

In [5]:
subset = df[['Account Length', 'Phone', 'Day Calls']]

In [6]:
subset.head()

   Account Length     Phone  Day Calls
0             128  382-4657        110
1             107  371-7191        123
2             137  358-1921        114
3              84  375-9999         71
4              75  330-6626        113

In [7]:
type(subset) # Este sí es un dataframe

pandas.core.frame.DataFrame

In [8]:
# Podemos crear una lista de los datos 
desired_colums = ["Account Length", "Phone", "Eve Charge", "Night Calls"]
subset2 = df[desired_colums]

In [9]:
subset2.tail()

      Account Length     Phone  Eve Charge  Night Calls
3328             192  414-4276       18.32           83
3329              68  370-3271       13.04          123
3330              28  328-8230       24.55           91
3331             184  364-6381       13.57          137
3332              74  400-4344       22.60           77

Podemos también borrar directamente las columnas que no nos interesan

In [10]:
undesired_colums = ["VMail Plan", "VMail Message"]
all_columns_list = df.columns.values.tolist()
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [11]:
# Este código elminina de una lista los elementos de la otra
sublist = [x for x in all_columns_list if x not in undesired_colums]
sublist

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [12]:
# Por fin elimino los elementos que no quería
df = df[sublist]
df.head()
# Con este pequeño truco elimino las columnas que no quería

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [13]:
# Seleccionando filas
df[0:24]

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.
10,IN,65,415,329-6603,no,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True.
11,RI,74,415,344-9403,no,187.7,127,31.91,163.4,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False.
12,IA,168,408,363-1107,no,128.8,96,21.90,104.9,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False.
13,MT,95,510,394-8006,no,156.6,88,26.62,247.6,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False.
14,IA,62,415,366-9238,no,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False.
15,NY,161,415,351-7269,no,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
16,ID,85,408,350-8884,no,196.4,139,33.39,280.9,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False.
17,VT,93,510,386-2923,no,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False.
18,VA,76,510,356-2992,no,189.7,66,32.25,212.8,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False.
19,TX,73,415,373-2782,no,224.4,90,38.15,159.5,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False.
20,FL,147,415,396-5800,no,155.1,117,26.37,239.7,93,20.37,208.8,133,9.40,10.6,4,2.86,0,False.
21,CO,77,408,393-7984,no,62.4,89,10.61,169.9,121,14.44,209.6,64,9.43,5.7,6,1.54,5,True.
22,AZ,130,415,358-1958,no,183.0,112,31.11,72.9,99,6.20,181.8,78,8.18,9.5,19,2.57,0,False.
23,SC,111,415,350-2565,no,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False.

In [14]:
# si no ponemos uno será el primero o el último
df[:3]

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.

In [15]:
df[:2]

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False.
1,OH,107,415,371-7191,no,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False.

In [16]:
# o cualquier cosa...
df[4:7]

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
4,OK,75,415,330-6626,yes,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.

In [17]:
# Otro hecho es hacer un formato de filas condicional 
# Filtrar las filas que cumplan una condicion

# Hay que tener en cuenta que lo siguiente nos da una lista boleana
df['Day Mins'] > 300

0       False
1       False
2       False
3       False
4       False
        ...
3328    False
3329    False
3330    False
3331    False
3332    False
Name: Day Mins, Length: 3333, dtype: bool

In [18]:
# Por lo tanto ahora sí puedo filtrar
df[df['Day Mins']>300]

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
76,DC,82,415,374-5353,no,300.3,109,51.05,181.0,100,15.39,270.1,73,12.15,11.7,4,3.16,0,True.
156,OH,83,415,370-9116,no,337.4,120,57.36,227.4,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True.
197,TX,208,510,378-3625,no,326.5,67,55.51,176.3,113,14.99,181.7,102,8.18,10.7,6,2.89,2,True.
230,MD,93,408,360-3324,yes,312.0,109,53.04,129.4,100,11.00,217.6,74,9.79,10.5,2,2.84,0,True.
289,OK,89,510,352-6976,no,303.9,95,51.66,260.9,114,22.18,312.1,89,14.04,5.3,3,1.43,1,True.
365,CO,154,415,343-5709,no,350.8,75,59.64,216.5,94,18.40,253.9,100,11.43,10.1,9,2.73,1,True.
534,LA,67,510,373-6784,no,310.4,97,52.77,66.5,123,5.65,246.5,99,11.09,9.2,10,2.48,4,False.
575,SD,114,415,351-7369,no,309.9,90,52.68,200.3,89,17.03,183.5,105,8.26,14.2,2,3.83,1,False.
605,MO,112,415,373-2053,no,335.5,77,57.04,212.5,109,18.06,265.0,132,11.93,12.7,8,3.43,2,True.
688,MN,13,510,338-7120,no,315.6,105,53.65,208.9,71,17.76,260.1,123,11.70,12.1,3,3.27,3,False.
732,IN,48,510,342-6696,no,300.4,94,51.07,133.2,103,11.32,197.4,94,8.88,7.2,5,1.94,2,False.
815,KY,75,415,341-1191,no,314.6,102,53.48,169.8,86,14.43,285.1,100,12.83,5.7,3,1.54,2,True.
832,SC,87,408,335-1874,no,322.5,106,54.83,204.6,93,17.39,186.2,128,8.38,9.4,4,2.54,2,True.
901,CT,23,510,370-5527,no,321.6,107,54.67,251.6,115,21.39,141.1,158,6.35,11.3,3,3.05,2,True.
975,DE,129,510,332-6181,no,334.3,118,56.83,192.1,104,16.33,191.0,83,8.59,10.4,6,2.81,0,True.
985,NY,64,415,345-9140,yes,346.8,55,58.96,249.5,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.
1078,ME,80,408,333-7631,no,322.3,113,54.79,222.0,95,18.87,162.8,123,7.33,6.7,8,1.81,0,True.
1165,VT,50,415,387-5891,yes,307.1,94,52.21,289.4,78,24.60,174.9,109,7.87,8.0,3,2.16,0,False.
1334,KS,126,408,379-8681,no,321.3,99,54.62,167.9,93,14.27,193.6,106,8.71,8.0,4,2.16,1,True.
1355,TX,50,408,330-6436,no,302.7,93,51.46,240.5,119,20.44,193.9,103,8.73,13.6,14,3.67,3,False.
1679,OK,82,510,393-4823,no,329.8,73,56.07,208.3,120,17.71,267.1,102,12.02,10.6,6,2.86,0,True.
1830,CT,50,408,351-9037,no,301.7,82,51.29,167.1,118,14.20,72.2,89,3.25,10.5,6,2.84,1,False.
2028,SD,93,510,408-4836,no,328.1,106,55.78,151.7,89,12.89,303.5,114,13.66,8.7,3,2.35,1,True.
2215,MS,13,415,413-7468,no,303.2,133,51.54,170.5,86,14.49,227.6,80,10.24,11.5,3,3.11,0,True.
2259,NC,210,415,363-7802,no,313.8,87,53.35,147.7,103,12.55,192.7,97,8.67,10.1,7,2.73,3,False.
2267,MS,29,510,401-6982,no,313.2,103,53.24,216.3,151,18.39,218.4,106,9.83,12.8,4,3.46,2,True.
2376,NV,42,415,352-5466,no,303.9,106,51.66,232.2,54,19.74,147.1,76,6.62,5.8,3,1.57,1,True.
2412,WI,89,415,373-4264,no,326.3,112,55.47,165.1,110,14.03,162.9,97,7.33,7.5,1,2.03,1,True.
2478,TN,123,415,415-3016,no,305.2,80,51.88,156.5,109,13.30,280.0,81,12.60,13.2,7,3.56,1,False.
2572,MN,152,415,378-9542,no,317.8,60,54.03,152.9,100,13.00,123.4,63,5.55,10.4,7,2.81,1,True.
2573,WV,124,415,344-1970,no,312.0,112,53.04,180.0,109,15.30,168.6,94,7.59,12.8,4,3.46,1,True.
2594,OH,115,510,348-1163,yes,345.3,81,58.70,203.4,106,17.29,217.5,107,9.79,11.8,8,3.19,1,True.
2629,NH,141,415,402-3370,no,322.4,92,54.81,283.2,107,24.07,209.5,111,9.43,6.7,3,1.81,1,True.
2660,NJ,88,415,347-8659,no,301.5,136,51.26,257.7,72,21.90,132.9,118,5.98,13.4,2,3.62,4,True.
2677,IA,44,415,359-7426,no,308.6,139,52.46,150.8,94,12.82,198.7,66,8.94,7.3,3,1.97,4,True.
2696,MI,74,415,359-6232,no,314.1,86,53.40,222.4,99,18.90,259.0,121,11.66,12.3,5,3.32,3,True.
2824,OR,81,415,406-4100,no,324.7,48,55.20,236.4,82,20.09,187.6,78,8.44,13.1,5,3.54,0,True.
2858,AL,141,510,388-8583,no,308.0,123,52.36,247.8,128,21.06,152.9,103,6.88,7.4,3,2.00,1,False.
3072,TX,75,415,417-4456,no,305.1,106,51.87,188.0,115,15.98,235.4,116,10.59,8.5,5,2.30,0,True.
3132,NC,161,415,394-5489,no,322.3,100,54.79,230.4,135,19.58,241.5,104,10.87,7.8,5,2.11,2,True.
3207,DC,93,408,345-1994,no,306.2,123,52.05,189.7,83,16.12,240.3,107,10.81,11.7,2,3.16,0,False.
3322,MD,62,408,409-1856,no,321.1,105,54.59,265.5,122,22.57,180.5,72,8.12,11.5,2,3.11,4,True.

In [19]:
# Vamos a seleccionar ahora usuarios de NYC
df[df['State'] == 'NY']

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
77,NY,144,408,360-1171,no,61.6,117,10.47,77.1,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,175.8,97,29.89,217.5,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
182,NY,67,408,405-2888,no,115.6,111,19.65,237.7,94,20.20,169.9,103,7.65,9.9,12,2.67,2,False.
186,NY,106,408,422-1471,no,158.7,74,26.98,64.3,139,5.47,198.5,103,8.93,10.2,4,2.75,1,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3219,NY,150,415,421-6268,no,139.6,72,23.73,332.8,170,28.29,213.8,105,9.62,8.8,2,2.38,2,False.
3227,NY,209,415,369-8703,no,153.7,105,26.13,188.6,87,16.03,200.8,95,9.04,10.7,2,2.89,0,False.
3257,NY,171,415,412-6245,no,137.5,110,23.38,198.1,109,16.84,292.7,131,13.17,13.3,5,3.59,2,False.
3275,NY,120,510,405-5083,no,128.5,115,21.85,163.7,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False.
3310,NY,94,415,363-1123,no,190.4,91,32.37,92.0,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.

In [20]:
# Condiciones de AND
df[(df['State'] == "NY") & (df['Day Mins'] > 300)]

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
985,NY,64,415,345-9140,yes,346.8,55,58.96,249.5,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.

In [21]:
# Condiciones de OR
df[(df['State'] == "NY") | (df['Day Mins'] > 300)]

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
76,DC,82,415,374-5353,no,300.3,109,51.05,181.0,100,15.39,270.1,73,12.15,11.7,4,3.16,0,True.
77,NY,144,408,360-1171,no,61.6,117,10.47,77.1,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,175.8,97,29.89,217.5,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
156,OH,83,415,370-9116,no,337.4,120,57.36,227.4,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3227,NY,209,415,369-8703,no,153.7,105,26.13,188.6,87,16.03,200.8,95,9.04,10.7,2,2.89,0,False.
3257,NY,171,415,412-6245,no,137.5,110,23.38,198.1,109,16.84,292.7,131,13.17,13.3,5,3.59,2,False.
3275,NY,120,510,405-5083,no,128.5,115,21.85,163.7,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False.
3310,NY,94,415,363-1123,no,190.4,91,32.37,92.0,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.
3322,MD,62,408,409-1856,no,321.1,105,54.59,265.5,122,22.57,180.5,72,8.12,11.5,2,3.11,4,True.

In [22]:
df[ df['Day Calls'] < df['Night Calls']]

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
3,OH,84,408,375-9999,yes,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3325,OH,78,408,368-8555,no,193.4,99,32.88,116.9,88,9.94,243.3,109,10.95,9.3,4,2.51,2,False.
3327,SC,79,415,348-3830,no,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False.
3328,AZ,192,415,414-4276,no,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3331,CT,184,510,364-6381,yes,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.

## Hacer subconjunto de filas y columnas a la vez

In [33]:
## Minutos de día, de noche y longitud de los primeros 50 individuos
subset_first_fifty = df [['Day Mins', "Night Mins", "Account Length"]][0:50]

In [34]:
subset_first_fifty.describe()

         Day Mins  Night Mins  Account Length
count   50.000000   50.000000       50.000000
mean   173.480000  194.408000       99.600000
std     56.302438   55.125896       41.963541
min     62.400000   70.600000       12.000000
25%    129.525000  162.725000       66.750000
50%    169.900000  192.550000       96.000000
75%    211.825000  224.800000      135.750000
max    332.900000  326.400000      174.000000

In [35]:
subset_first_fifty.head()

   Day Mins  Night Mins  Account Length
0     265.1       244.7             128
1     161.6       254.4             107
2     243.4       162.6             137
3     299.4       196.9              84
4     166.7       186.9              75

In [36]:
subset_first_fifty.tail()

    Day Mins  Night Mins  Account Length
45     120.9       163.1              59
46     211.3       134.7              65
47     187.0       242.2             142
48     159.1       143.2             119
49     133.2        70.6              97

Otro modo efectivo que se puede utilizar pero ha ido cambiando bastante es utilizar la sintaxis loc e iloc

In [40]:
df.iloc[0:5, 3:6]

      Phone Int'l Plan  Day Mins
0  382-4657         no     265.1
1  371-7191         no     161.6
2  358-1921         no     243.4
3  375-9999        yes     299.4
4  330-6626        yes     166.7

In [41]:
df.iloc[:,3:6]

         Phone Int'l Plan  Day Mins
0     382-4657         no     265.1
1     371-7191         no     161.6
2     358-1921         no     243.4
3     375-9999        yes     299.4
4     330-6626        yes     166.7
...        ...        ...       ...
3328  414-4276         no     156.2
3329  370-3271         no     231.1
3330  328-8230         no     180.8
3331  364-6381        yes     213.8
3332  400-4344         no     234.4

[3333 rows x 3 columns]

In [42]:
df.iloc[:5, :]

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [46]:
# loc es cuando el indexado no es por posidion sino por etiquetas

df.loc[[1,5, 8, 33], ["Area Code", "Day Mins"]]

    Area Code  Day Mins
1         415     161.6
5         510     223.4
8         408     184.5
33        408     249.6

In [49]:
# Muchas veces tendremos que crear una nueva columna, como total mins
df['Total Mins'] = df['Day Mins'] + df['Night Mins'] + df['Eve Mins']

In [51]:
df.head() # ya tenemos los  minutos totales

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins
0,KS,128,415,382-4657,no,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.,707.2
1,OH,107,415,371-7191,no,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.,611.5
2,NJ,137,415,358-1921,no,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.,527.2
3,OH,84,408,375-9999,yes,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.,558.2
4,OK,75,415,330-6626,yes,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.,501.9

In [52]:
df['Total Calls'] = df['Day Calls'] + df['Night Calls'] + df['Eve Calls']

In [53]:
df[2:8]

,State,Account Length,Area Code,Phone,Int'l Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,...,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins,Total Calls
2,NJ,137,415,358-1921,no,243.4,114,41.38,121.2,110,...,162.6,104,7.32,12.2,5,3.29,0,False.,527.2,328
3,OH,84,408,375-9999,yes,299.4,71,50.90,61.9,88,...,196.9,89,8.86,6.6,7,1.78,2,False.,558.2,248
4,OK,75,415,330-6626,yes,166.7,113,28.34,148.3,122,...,186.9,121,8.41,10.1,3,2.73,3,False.,501.9,356
5,AL,118,510,391-8027,yes,223.4,98,37.98,220.6,101,...,203.9,118,9.18,6.3,6,1.70,0,False.,647.9,317
6,MA,121,510,355-9993,no,218.2,88,37.09,348.5,108,...,212.6,118,9.57,7.5,7,2.03,3,False.,779.3,314
7,MO,147,415,329-9001,yes,157.0,79,26.69,103.1,94,...,211.8,96,9.53,7.1,6,1.92,0,False.,471.9,269

In [56]:
df.shape

(3333, 21)

In [58]:
df.describe()

,Account Length,Area Code,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Total Mins,Total Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,581.627483,300.657666
std,39.822106,42.371290,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,89.969330,34.328232
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,275.200000,188.000000
25%,74.000000,408.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,521.000000,278.000000
50%,101.000000,415.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,583.100000,301.000000
75%,127.000000,510.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,642.500000,324.000000
max,243.000000,510.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,876.900000,410.000000