# Números pseudoaleatorios


Si vamos a generar millones de números aleatorios hay que tener en cuenta que el patrón se puede repetir ya que son números pseudo-aleatorios

In [34]:
import numpy as np
import random
import pandas as pd

In [5]:
#Generar un número aleatorio entero entre y y 100
np.random.randint(1,100)

63

In [4]:
np.random.randint(1,100)

2

In [7]:
#la forma más clásica de generar un número aleatorio es entre 0..1
np.random.random()

0.7504500408946844

In [8]:
np.random.random()

0.19685545764979406

In [14]:
# ¿y si quiero generar una lista?
# hay que pensar el intervalo en el que quiero que estén definidos

# función que genera una lista de elementos aleatorios enteros entre a y b

def rand_int_list(n, a , b):
    x = [];
    for i in range (n):
        x.append(np.random.randint(a,b))
    return x

rand_int_list(7,0,100)

[56, 69, 79, 71, 83, 89, 78]

In [ ]:
# estos métodos serán muy útiles como extensión del original, pero ya existe un método que hace esto
# en un paquete, que incorpora la función rand range, es el import random

# random.randrange(start, stop[, step])

In [25]:
# imprimimos múltiplos de 7, hay que tener en cuenta que para que esto suceda debemos empezar por 0 u otro 
# múltiplo de 7
for i in range (5):
    print(random.randrange(0,100,7))

56
77
98
56
35

### Shuffling

Es un proceso de barajado

Muy útil

In [29]:
# arange crea un array con un rango
a = np.arange(100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [30]:
np.random.shuffle(a)

In [31]:
a

array([44,  8, 47, 30, 58,  2, 59, 11, 43, 55, 75, 62, 27, 46, 68,  4, 81,
       71, 48, 65, 88, 15,  3,  7, 84, 67,  6, 17, 12, 96, 82, 98, 52, 70,
       21,  5, 83, 49, 73, 45, 97, 14, 16, 36,  0, 50, 56, 78, 99, 60, 24,
       79, 53, 61, 66, 95, 93, 54, 31, 22,  9, 34, 72,  1, 19, 26, 74, 40,
       35, 23, 91, 13, 42, 85, 94, 77, 64, 38, 89, 18, 10, 32, 63, 76, 90,
       29, 33, 92, 39, 69, 80, 25, 86, 57, 28, 87, 20, 37, 41, 51])

### Choice 

Selección aleatoria

In [33]:
np.random.choice(a)

38

In [35]:
df = pd.read_csv('../../datasets/customer-churn-model/Customer Churn Model.txt')

In [36]:
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [49]:
# seleccionamos una columna al azar

random_column = np.random.choice(df.columns.values)
print(random_column)
df[random_column]

Eve Calls

0        99
1       103
2       110
3        88
4       122
       ...
3328    126
3329     55
3330     58
3331     84
3332     82
Name: Eve Calls, Length: 3333, dtype: int64

### Seed

Cuando trabajamos en análisis de datos y tenemos un buen resultado lo queremos volver a reproducir, así que hay que controlar cómo hemos generado el conjunto de números aleatorios, deberíamos guardarnos la semilla de partida para poder reproducir los resultados de forma exacta.

La semilla no es más que un número para dar el valor inicial

In [57]:
np.random.seed(2018)
# da igual las veces que ejecute el siguiente código que siempre me dará lo mismo
for i in range(5):
    print(np.random.random())

0.8823493117539459
0.10432773786047767
0.9070093335163405
0.3063988986063515
0.446408872427422