In [4]:
import pandas as pd
import numpy as np

In [34]:
df = pd.DataFrame(
    {"a":np.random.normal(0, 1, 10000), 
    "b":np.random.normal(2.5, 2, 10000), 
    "c":np.random.uniform(5,32,10000)}
)

In [35]:
df.head()

          a         b          c
0 -0.628243  1.626157  13.579401
1  1.862073  1.507111   9.317416
2  0.414629  4.684170  26.081758
3  0.529481  1.761745  22.276521
4  0.993972  1.971698  23.555060

In [36]:
df.describe()

                  a             b             c
count  10000.000000  10000.000000  10000.000000
mean      -0.009080      2.513067     18.516131
std        1.000622      1.994194      7.759694
min       -4.262776     -4.641816      5.016726
25%       -0.679662      1.168673     11.861853
50%       -0.008963      2.486281     18.495362
75%        0.659350      3.862111     25.183790
max        4.021202      9.729466     31.999957