In [2]:
import pandas as pd

In [5]:
data_red_wine = pd.read_csv('../../datasets/wine/winequality-red.csv', sep=';')
data_white_wine = pd.read_csv('../../datasets/wine/winequality-white.csv', sep=';')

In [6]:
data_red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
data_white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [9]:
data_red_wine.columns.values.tolist()

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [10]:
len(data_red_wine)+ len(data_white_wine)

6497

**En python tenemos dos ejes:**

- **axis = 0** denota el eje horizontal
- **axis = 1** denota el eje vertical

In [13]:
data = pd.concat([data_red_wine, data_white_wine], axis=0)

In [14]:
data.shape

(6497, 12)

### Cargar cientos de datos distribuidos

In [15]:
d1 = pd.read_csv('../../datasets/distributed-data/001.csv')

In [16]:
d1.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [17]:
d1.describe()

          sulfate     nitrate      ID
count  117.000000  122.000000  1461.0
mean     3.880701    0.549910     1.0
std      2.831156    0.380921     0.0
min      0.613000    0.118000     1.0
25%      2.210000    0.283500     1.0
50%      2.870000    0.453000     1.0
75%      4.730000    0.663500     1.0
max     19.100000    1.830000     1.0

In [18]:
len(d1)

1461

In [19]:
# Es un data sparse, hay muchos elementos que están en NaN

In [27]:
# Importar el primer fichero
#(ya está)
# Hacemos un bucle para recorrer todos los ficheros
for i in range (1,333):
    filename= '../../datasets/distributed-data/'
    if i<10:
        filename = filename + '00'+str(i)+'.csv'
    else:
        if i<100:
            filename = filename + '0'+str(i)+'.csv'
        else:
            filename = filename + str(i) + '.csv'
    d1 = pd.concat([d1, pd.read_csv(filename)], axis=0)

In [29]:
d1.describe()

             sulfate        nitrate             ID
count  118900.000000  114471.000000  773548.000000
mean        3.190049       1.701703     164.152561
std         2.893136       2.524004      95.654679
min         0.000000       0.000000       1.000000
25%         1.310000       0.411300      78.000000
50%         2.370000       0.820000     168.000000
75%         4.055025       1.950000     246.000000
max        35.900000      53.900000     332.000000